*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, helvetica, sans-serif;
  line-height: 1.4;
  background-color: aqua;
}

a{
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
  padding: 2%;
  border-radius: 25px;
  width: 95%;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.allStats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  float: left;
}

.active, .confirmed, .deaths, .recovered {
  position: relative;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  background-color: black;
  color: white;
}

.header {
  background-color: aqua;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  margin: 10px;
  text-transform: capitalize;
}

/*:focus {
  outline: red;
  outline-width: 5px;
  outline-style: solid;
}*/

.userDate {
  padding:8px;
  display:block;
  border:none;
  border-bottom:
  1px solid #ccc;
  width:100%
}

.changeDate {
  border-radius: 25px;
  margin: 10px;
  padding: 2%;
}

.stateName {
  text-transform: capitalize;
}

.location {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
  border-radius: 25px;
  background-color: white;
  text-align: center;
}

.location:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.testSites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200pt, 1fr));
  margin-left: 5%;
  margin-right: 5%;
}

.singleSite {
  margin: 4px;
  transition: .2s;
}

.singleSite:hover {
  transform: scale(1.5);
}

.allSites {
  padding-left: 10%;
  padding-right: 10%;
}

.locationBtn {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  padding: 2.5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  cursor: pointer;
}

.locationBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.locationBtn span:after {
  content: '\25ba';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.locationBtn:hover span {
  padding-right: 25px;
}

.locationBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.singleLocationDetails {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 15px;
  padding: 2%;
  border-radius: 25px;
  overflow: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.singleLocationDetails:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.description {
  float: left;
  width: 70%;
  padding: 10px;
}

.addressAndPhone{
  float: right;
  width: 25%;
  padding: 10px;
}

.workHours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .description, .addressAndPhone, .workHours {
    width: 100%;
  }
}

.address, .telephone {
  padding-bottom: 10px;
}

.singleWorkDayHours {
  float: left;
  margin: 10px;
}

.mapLink, .telephoneLink {
  color: blue;
}

.mapLink:hover, .telephoneLink:hover {
  color: darkblue;
}

.nameOfState {
  background-color: aqua;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  margin: 10px;
  text-transform: capitalize;
}