.homepage{
  display: flex;
  flex-direction: column;
}

/* ------------------------------- NAVBAR ------------------------------ */
.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  float: right;
  width: 55%;
}
  
.navbar a {
  color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.navbar a:hover {
  color: #c9e265;
}

.navbar a.active {
  color: #c9e265;
}
  
/* ------------------------------- HEADER ------------------------------ */
.header{
  background-color: #0B5E7D;
  width: 100%;
}

.header-section{
  background-color: #0B5E7D;
  height: 530px;
  width: 100%;
}

.header-content{
  display: flex;
  flex-wrap: wrap-reverse;
  margin: auto;
  width: 85%;
}

.navbar-content{
  margin: auto;
  width: 96%;
  background-color: #0B5E7D;
}

.content-details1{
  text-align: center;
  width: 45%;
  float: left;
}

.content-details img{
  margin-top: 50px;
  width: 100%;
  height: auto;
}

.content-details{
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .content-details, .header-content, .content-details1, .navbar {
    justify-content: center;
    width: 100%;
  }
  
  .content-details img{
    width: 100%;
    margin-top: 0px;
  }
}

#covid-title{
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.detail-title{
  padding-top: 100px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: left;
}

.detail-text{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #c9e265;
}

.detail-text a{
  text-decoration: underline;
  color: #c9e265;
}

@media screen and (max-width: 800px) {
  .detail-title{
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .detail-text{
    text-align: center;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* ------------------------------- BODY ------------------------------ */

body{
  margin: 0px;
}

#about-section{
  width: 85%;
  margin: 300px auto 0px auto;
}

.quiz-section{
  margin: 100px auto 50px auto;
}

#about-content h1{
  text-align: center;
  color: #0B5E7D;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .info-blocks .info-block p{
    width: 100%
  }
}

#symptom-notice{
  color: #0B5E7D;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.prevent-content{
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 5% auto 5% auto; */
}

.info-card img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}


.info-card{
  width: 33%;
  text-align: center;
  line-height: 2;
  padding-right: 5px;
  padding-left: 5px;
}
.info-card p{
  color: #555;
  font-family: 'Montserrat', sans-serif;
}
.info-card h3{
  text-align: center;
  color: #0B5E7D;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 800px) {
  .info-card{
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .info-card{
    width: 100%;
  }
}

.prevent-section h1{
  text-align: center;
  color: #0B5E7D;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* ------------------------------- FOOTER ------------------------------ */

footer{
  background-color: #f6f6f6;
  height: 150px;
}

footer p{
  color: #57646c;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 50px;
}